{% extends "genes.html" %}
  {% block back %}
    <h4><a href=" {{ url_for('genes') }}">Revenir à la liste de gènes</a></h4>
  {% endblock %}
  {% block main %}
    <h1>Formulaire de saisie d'un nouveau gène</h1>
    {% endblock %}
  {% block content %}
  <form action="{{ url_for('genenew') }}" method="post">
  	{% for col in cols[0:4] %}
  	 {{col}} : <br>
  	 <input type="text" name={{col}}><br>
  	{% endfor %}
    {% for col in cols[4:] %}
      {{col}} : <br>
      <input type="number" name={{col}}><br>
    {% endfor %}
  	<input type="button" onClick="confSubmit(this.form);" name=1 value="Envoyer" />
  </form>
  {% endblock %}